// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'header';

//Footer
@import 'footer';
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
div.link{
  padding-top:50px;
  text-align: center;
  a{
    text-decoration: none;
    color:black;
    padding:10px 15px;
    font-weight: bolder;
    font-size:large;
    background-color:brown;
    border:2px solid black;
    border-radius:5px;
    &:hover{
      color:white;
      text-decoration: underline;
    }
  }
  a#back{
    padding:0;
    font-size:40px;
    border:none;
    color:brown;
    background:none;
    &:hover{
      color:black;
    }
  }

  div.create-new{
    padding:20px 25px;
    background:brown;
    width:max-content;
    margin:0 auto;
    span{
      font-size:25px;
      color:white;
    }
    a{
      padding:0;
      font-size:25px;
      border:none;
      color:black;
      background:none;
      margin-left:10px;
      &:hover{
        color:$grayopaque;

      }
    }
  }
}
div.container-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:100px 0;
  div.box{
    margin:10px;
    padding:10px;
    background:brown;
    border:3px solid black;
    p{
      color:white;
    }
    a{
      text-decoration: none;
      color:black;
      padding:0 10px;
      font-weight: bolder;
      font-size:large;
      &:hover{
        text-decoration: underline;
        color:white;
      }
    }
  }
  form.insert-data{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:300px;
    line-height:2;
    // background-color:$grayopaque;
    padding:75px 20px;
    border:2px solid brown;
    border-radius:5px;
    box-shadow: 7px 12px gray;
    button#btn-create,button#btn-update{
      margin-top:20px;
      padding:5px 10px;
      color:$grayopaque;
      font-size:17px; 
      border:none;
      background:brown;
      &:hover{
        color:white;
      }
    }
    p#string-request{
      color:black;
      align-self: center;
      font-weight: bolder;
      font-size:medium;
    }
    label{
      color:brown;
      font-weight: 700;
    }
    input{
      padding:0 6px;
      width:170px;

      border-radius:15px;
      &:hover{
        border-color:brown;
      }
    }
  }

}
